@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    text-align: center;
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centralizar verticalmente */
    min-height: 100vh; /* Garantir altura mínima de visualização */
}

img {
    width: 11rem;
}

.welcome-message {
    font-family: Sanchez, sans-serif;
    font-size: 21px; /* Tamanho da fonte desejado */
    font-style: normal;
    font-weight: 400;
    color: #3852A0; /* Cor do texto desejada */
    line-height: 31px;
    text-align: center;
    cursor: default;
}
hr {
    width: 48rem;
    border: 2px solid #E09431;
    margin-top: -10px; /* Margem superior negativa para subir o hr */
}
.second-hr {
    width: 50rem;
    border: 3px solid #F1F1F2; /* Cor desejada para o segundo hr */
    margin-top: -5px; /* Espaço entre o primeiro e o segundo hr */
}

.login-instructions {
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    word-spacing: 0;
    color: #6D6E70;
    cursor: default;
}

.user-label::placeholder,
.password-label::placeholder {
    color: #D0D1D3; /* Cor desejada para o placeholder */
}

.input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.input input {
	font-family: Roboto, Arial, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: normal;
	text-align: start;
	text-indent: 0px;
	text-transform: none;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgb(241, 241, 242);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;

	/* Box */
	height: 38px;
	width: 360px;
	border-top: 0px none rgb(0, 0, 0);
	border-right: 0px none rgb(0, 0, 0);
	border-bottom: 0px none rgb(0, 0, 0);
	border-left: 10px solid rgb(56, 82, 160);
	margin: 7px;
	padding: 0px 0px 0px 15px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;
    outline: none;
}

.submit {
    font-family: Roboto, Arial, sans-serif;
    background-color: #3852A0;
    vertical-align: middle;
    color: white;
    height: 40px;
    width: 120px;
    cursor: pointer;
    word-spacing: 0px;
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    outline: none; /* Remove o contorno de foco */
    border: none; /* Remove a borda padrão */
}
.submit:hover {
    background-color: #E09431;
    transition: all 0.3s ease-out 0s
}

.link {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none; /* Remova o sublinhado */
    margin: 16px 7px; /* Espaçamento vertical e horizontal */
    padding: 0;
    display: inline-block; /* Coloca os links lado a lado */
    color: #3852A0; /* Cor dos links */
    line-height: 19px; /* Ajuste a linha para corresponder à altura dos links */
}

.link:hover {
    color: #E09431;
    text-decoration: underline; /* Adicione um sublinhado ao passar o mouse */
}

.error-message {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: normal;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: start;
    text-transform: none;
    white-space: normal;
    word-spacing: 0px;
    background-color: rgb(173, 9, 0);
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    color: rgb(255, 255, 255);
    transition: height 0.3s ease, width 0.3s ease; /* Adicione uma transição suave */
    display: none; /* Inicialmente oculto */
    height: 71px;
    width: 480px;
    margin: 0 0 6px 0;
    padding: 6px 9px 6px 9px;
  }
  

.container {
    background-color: rgb(51, 49, 49);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: white;
    width: 640px;
    height: 520px;
    margin: 0 auto; /* Centralizar horizontalmente */
}




